{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style='background-image: url("{% static 'assets/img/bg5.jpg' %}");'>
    </div>
    <div class="container">
        <div class="content-center">
            <h1 class="title rellax" data-rellax-speed="-3">아이시큐어의 Blog</h1>
            <h3 class="rellax" data-rellax-speed="-4">새로운 소식들</h3>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h3 class="title">{{ post.title }}</h3>
                <p>
                    {% if post.published_date %}
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                    {% endif %}
                    {{ post.text| linebreaksbr }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}