{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'assets/img/bg4.jpg' %}');">
        </div>
    <div class="container">
        <div class="content-center">
            <h1 class="title">제품</h1>
            <h3 class="text-center" data-parallax="true">Product</h3>
        </div>
    </div>
</div>
<!-- Product -->
<!--     *********     FEATURES 7      *********      -->
<div class="section section-components">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="text-center title">ToSee</h2>
                <h4 class="description">
                        PC 를 사용하면서 생길 수 있는 문제점들을 미리 방지하기 위해 취약점 분석을 진행하고 발견된 문제에 대응하는 것이 가장 최선의 방법입니다.<br>
                        주요정보통신 기반시설 취약점 분석 평가 기준을 포함하여 다양한 문제점들을 찾고 해결책을 제시하고 있습니다.<br>
                        2015년 부터 개발을 시작하여 다양한 고객들의 환경에 맞는 기능들을 추가하고 있습니다.
            </div>
        </div>
    </div>
</div>
<div class="features-7 section-image" style="background-image: url('{% static "assets/img/bg11.jpg" %}')">
    <div class="col-md-8 mr-auto ml-auto text-center">
        <h2 class="title"></h2>
        <div class="icon">
            <i><img src="{% static 'assets/img/tosee64x64.png' %}" alt=""></i>
        </div>
        <h4 class="description">ToSee는 기업과 개인 사용자들이<br> 안전하게 PC를 사용하는데 필요한 다양한 기능들을 제공하고 있습니다.</h4>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="info info-horizontal">
                    <div class="icon">
                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">PC취약점 분석</h5>
                        <p class="description">안전의 가장 중요한 요소는 취약한 부분을 최소화하는 것으로부터 시작해야 합니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal">
                    <div class="icon">
                        <i class="now-ui-icons objects_key-25"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">방화벽</h5>
                        <p class="description">기존의 OS에서 제공하는 방화벽은 외부에서 PC 내부로 들어오는 트래픽만 관리하고 있으나 PC 내부에서 외부로 나가는 트래픽의 관리도 똑같이 중요합니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal">
                    <div class="icon">
                        <i class="now-ui-icons design_vector"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">네트워크 분석</h5>
                        <p class="description">PC의 네트워크 사용현황을 그래픽을 통해 볼 수 있습니다. 이로 인해 이상 트래픽을 쉽게 잡아낼 수 있습니다. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal">
                    <div class="icon">
                        <i class="now-ui-icons files_box"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">USB</h5>
                        <p class="description">USB의 사용을 차단하거나 사용시 사용내역을 남길 수 있습니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal">
                    <div class="icon">
                        <i class="now-ui-icons tech_watch-time"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">1주 52시간 근무 지원</h5>
                        <p class="description">근로기준법 개정에 따라 300인 이상 기업 및 기관은 2018년 7월부터 주당 최장 근로시간이 52시간으로 제한됩니다.(50~299인 2020년 1월, 5~49인 2021년 7월)</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="info info-horizontal">
                    <div class="icon">
                        <i class="now-ui-icons emoticons_satisfied"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">PC 유휴시간 점검</h5>
                        <p class="description">PC의 유휴시간을 조사할 수 있습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!--     *********    END FEATURES 7      *********      -->
<!--     *********     상세 설명      *********      -->
<div class="section" id="ISMS">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h3 class="title">안전한 PC사용을 위한 제안:</h3>
                <!--img src="{% static 'assets/img/isecure/standard.png' %}" alt=""-->
                <p>
                    안전한 PC 사용을 위해서는
                    <ul>
                        <li>적절한(경우에 따라서는 강력한) 보안 정책과</li> 
                        <li>PC를 사용하면서 문제가 발생할 수 있는 소지를 줄이며,</li> 
                        <li>보안 프로그램들을 올바르게 사용하는 것입니다.</li>
                    </ul>
                    <div class="image-container" style="background-image: url('{% static 'assets/img/isecure/needtosee.png' %}')"></div>
                </p>
            </div>
        </div>
    </div>
    
    <div class="section" id="Practice">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h3 class="title">ToSee의 활용 방안:</h3>
                    <ul>
                        <li>사내의 특정 PC에서 악성코드나 어떤 이유로 인해 트래픽이 다량 발생할 때 어디서 어떤 process에 의해 많은 트래픽이 발생되었는지 점검할 수 있습니다.</li>
                        <li>공장 자동화와 같은 네트워크에 연결되어 있지 않거나 공용 PC들의 경우 보안 관리가 어려울 수 있습니다.<br>이런 경우 편리하게 보안 수준을 향상 시킬 수 있습니다.</li>
                        <li>갑자기 PC가 느려지거나 이상 작동할 경우 이상 프로세스들을 점검하여 문제점을 파악할 수 있습니다..</li>
                        <li>PC 사용에 능숙하지 않은 사용자들의 보안 수준을 향상시키기 편리합니다.</li>
                        <li>악성코드에 감염되더라도 outbound 방화벽 기능으로 인해 피해를 최소화 시킬 수 있습니다.</li>
                        <li>정보보호 관리체계 인증시 편리한 분석을 할 수 있습니다.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Investment -->
<div class="section section-components" data-background-color="dark-red" >
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <h2 class="text-center title" style="color:rgba(255, 255, 255, 255)">
                        <p class="lead">
                            "공장 곳곳에 흩어져 있는 PC들과 사용자 PC들에 대한 취약점 분석과 결과 정리에 보안팀 전체가 오랜 시간이 소요됐는데 ToSee를 사용한 이후 빠른 업무 처리가 가능해져 전사적인 사례 발표와 우수 팀으로 선정되었습니다."<br>
                            - XX발전소, 2017년
                        </p>
                    </h5>
                    <div class="space-50"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}